top, rule, bottom {display:block}

rule {
  padding: 0em 2em;
  display: inline-block;
  text-align: center;
}

top {
    vertical-align:bottom;
}

bottom {
  display: block;
  border-top: solid 1px black;
  clear: left;
}
