rule {
  margin-bottom:0px;
  border: solid 1px red;
  padding-left: 1em;
  padding-right: 1em;
  display: block;
  float: left;
}

top {
  display: block
  padding: 1em 1em;
  clear:left;
}

bottom {
  display: block;
  border-top: solid 1px black;
  text-align:center;
  clear: left;
}
